<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total form</title>
</head>

<body>
    <p>
        You have chosen option {{ option }} for {{amount}} pictures. Please wait.
    </p>


    <p>Enter the format of pictures to be transformed:</p>

    <form id="myform" action="format">
        <input name="format" type="text">
        <button type="submit">Submit</button>
    </form>
    
    
</body>

</html>