<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Format</title>
</head>

<body>
    <p>
        You are transforming <h3> {{amount}} </h3> pictures.
    </p>


    <p>Enter the format of pictures to be transformed (example: "jpg"):</p>

    <form id="myform" action="format">
        <input name="format" type="text">
        <button type="submit">Submit</button>
    </form>
    
    
</body>

</html>